@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body
{
    font-family: Lato;
    margin: 0;
}

pfg-topbar {
    display:block;
    overflow: hidden;
    background-color: rgb(33, 33, 33);
}

pfg-topbar a {
    float: left;
    padding: 17px;
    color: white;
    text-decoration: none;
}

pfg-topbar a:hover {
    background-color: white;
    color: rgb(33, 33, 33);
}